<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% filter default:0|add:' - ' %}{% block title %}{% endblock %}{% endfilter %}pyInterClubs</title>

    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static '3rd/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' %}" />
    {% block head %}{% endblock %}

    <script src="{% static 'fontawesomefree/js/all.min.js' %}" type="text/javascript"></script>
    <script src="{% static '3rd/jquery-3.6.0-dist/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static '3rd/htmx-1.8.0-dist/htmx.min.js' %}" type="text/javascript" defer></script>
    <script src="{% static '3rd/htmx-1.8.0-dist/ext/path-deps.js' %}" type="text/javascript" defer></script>
    <script src="{% static '3rd/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js' %}" type="text/javascript" defer></script>
</head>
<body hx-boost="true" hx-target="#mainFragment" hx-ext="path-deps">
    {% include 'p_navbar.html' %}
    {% include 'p_menu.html' %}

    <div class="htmx-indicator progress" role="progressbar" aria-label="Chargement" aria-valuemin="0" aria-valuemax="100" style="height:1px;">
        <div class="progress-bar"></div>
    </div>

    <div id="mainFragment" class="container my-2">
        {% block body %}{% endblock %}
    </div>

    <div id="messagesFragment" class="toast-container position-fixed top-0 end-0 m-2">
        <div id="genericMessages" class="d-none">
            <div class="toast mb-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <div class="rounded me-2" style="width:20px; height:20px;"></div>
                    <strong>Title</strong>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Fermer"></button>
                </div>
                <div class="toast-body">Message...</div>
            </div>

            <div class="toast mb-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="hstack gap-2">
                    <div class="toast-body">Message...</div>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Fermer"></button>
                </div>
            </div>
        </div>
        {% block toast %}{% endblock %}
    </div>

    <div id="modalFragment">
        {% block modal %}{% endblock %}
    </div>

    {% block script %}{% endblock %}
    <script>
        function Toast(id, classes, message, title) {
            toast = $("#genericMessages").children(".toast").eq(id).clone();
            toast.addClass(classes)
                .find(".toast-header > strong").text(title);
            toast.find(".toast-body").text(message);
            toast.appendTo("#messageFragment")
                .on("hidden.bs.toast", function () {
                    $(this).remove();
                });
            toast = new bootstrap.Toast(toast);
            toast.show();
        }

        $(document).ready(function () {
            $(document)
                /* Le serveur renvoi une erreur */
                .on('htmx:responseError', function (evt) {
                    Toast(1, "bg-danger bg-gradient opacity-100", evt.detail.xhr.status + ": " + evt.detail.xhr.statusText);
                })
                /* Le serveur est inaccessible */
                .on('htmx:sendError', function (evt) {
                    Toast(1, "bg-danger bg-gradient opacity-100", "Erreur réseau");
                })
                /* Le chargement de la page est impossible (mauvais paramétrage) */
                .on('htmx:onLoadError', function (evt) {
                    Toast(1, "bg-danger bg-gradient opacity-100", evt.detail.exception.name + ": " + evt.detail.exception.message);
                })
                /* L'affichage de la page est impossible */
                .on('htmx:swapError', function (evt) {
                    Toast(1, "bg-danger bg-gradient opacity-100", "Impossible d'afficher l'élément");
                })
                /* Affichage et MAJ de l'indicateur de charge */
                .on('htmx:xhr:progress', function (evt) {
                    $("htmx-indicator progress-bar").css("width", (evt.originalEvent.detail.loaded / evt.originalEvent.detail.total) + "%");
                })

            /* Suppression du focus sur les boutons une fois clické */
            $("button.btn").click(function (e) { this.blur(); });

        });
    </script>
</body>
</html>