{% load static %}
<div id="menu" class="offcanvas offcanvas-start">
    <div class="offcanvas-header bg-light">
        {% if user.is_authenticated %}
        <div class="vstack gap-2 position-relative align-items-center">
            <div class="hstack position-absolute top-0 start-0 end-0">
                <button type="button" class="btn-close me-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <a role="button" class="btn" href="{% url 'logout' %}" title="Se déconnecter"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            <div class="rounded-circle" style="width: 5rem; height: 5rem; background-image: url('{% static 'img/user.png' %}'); background-size: cover;"></div>
            <span class="fw-bold"><span class="text-uppercase">{{ user.first_name }}</span> <span class="text-capitalize">{{ user.last_name }}</span></span>
        </div>
        {% else %}
        <div class="vstack gap-2 position-relative align-items-center">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="rounded-circle" style="width: 5rem; height: 5rem; background-image: url('{% static 'img/user.png' %}'); background-size: cover;"></div>
            <a role="button" class="btn btn-light" href="{% url 'login' %}" title="S'authentifier">S'authentifier <i class="fa-solid fa-right-to-bracket ms-1"></i></a>
        </div>
        {% endif %}
    </div>
    <div class="offcanvas-body p-0">
        <ul class="list-group list-group-flush">
            {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'rencontres' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Administration des rencontres
                <i class="fa-solid fa-map-location ms-auto"></i>
            </a>
            <a href="{% url 'qrcode-clubs' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                QRCodes de connexion
                <i class="fa-solid fa-qrcode"></i>
            </a>
            {% endif %}
        </ul>
    </div>
</div>
