{% load static babel_transpiling %}
<div id="menu" class="offcanvas offcanvas-start">
    <div class="offcanvas-header bg-light">
        {% if user.is_authenticated %}
        <div class="vstack gap-2 position-relative align-items-center">
            <div class="hstack position-absolute top-0 start-0 end-0">
                <button type="button" class="btn-close me-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <a role="button" class="btn" href="{% url 'logout' %}" title="Se déconnecter"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            <div class="rounded-circle" style="width: 5rem; height: 5rem; background-image: url('{% static 'img/user.png' %}'); background-size: cover;"></div>
            <span class="fw-bold"><span class="text-uppercase">{{ user.first_name }}</span> <span class="text-capitalize">{{ user.last_name }}</span></span>
        </div>
        {% else %}
        <div class="vstack gap-2 position-relative align-items-center">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="rounded-circle" style="width: 5rem; height: 5rem; background-image: url('{% static 'img/user.png' %}'); background-size: cover;"></div>
            <a role="button" class="btn btn-light" href="{% url 'login' %}" title="S'authentifier">S'authentifier <i class="fa-solid fa-right-to-bracket ms-1"></i></a>
        </div>
        {% endif %}
    </div>
    <div class="offcanvas-body p-0">
        <ul class="list-group list-group-flush">
            {# Menu Administrateur #}
            {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'rencontres' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="fa-solid fa-map-location fa-fw me-2"></i>
                    Administration des rencontres
                </a>
            {% endif %}
            {# Menu Staff #}
            {% if user.is_authenticated and user.is_staff and user.profil and user.profil.rencontre %}
                <a href="{% url 'qrcode-clubs' %}?rencontre={{ user.profil.rencontre.id }}" class="list-group-item list-group-item-action d-flex align-items-center">
                    <i class="fa-solid fa-qrcode fa-fw me-2"></i>
                    QRCodes de connexion
                </a>
            {% endif %}
            {# Menu Club #}
            {% if user.is_authenticated %}
                <div class="accordion accordion-flush">
                    <div class="accordion-item">
                        <div id="hdrEquipes" class="accordion-header">
                            <button class="accordion-button d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#bdyEquipes" aria-expanded="true" aria-controls="bdyEquipes" style="--bs-accordion-btn-padding-y:0.5rem; --bs-accordion-btn-padding-x:1rem;">
                                <i class="fa-solid fa-users me-2"></i>
                                <span class="">Mes équipes</span>
                            </button>
                        </div>
                        <div id="bdyEquipes" class="accordion-collapse collapse show" aria-labelledby="hdrEquipes">
                            <div id="react-list-equipe"></div>
                        </div>
                        <a class="list-group-item list-group-item-action d-flex align-items-center border-start-0 border-end-0 border-bottom-0" href="{% url 'equipe:create' %}">
                            <i class="fa-solid fa-fw fa-plus me-2"></i>
                            Ajouter une équipe
                        </a>
                    </div>
                </div>
            {% endif %}
        </ul>
    </div>
</div>

<script type="module">
    import { ListEquipe } from "/react/equipe.jsx";
    const { QueryClient, QueryClientProvider } = window.ReactQuery;
    const queryClient = new QueryClient();
    {% transpiling %}
    ReactDOM.createRoot(document.querySelector('#react-list-equipe')).render(
        <QueryClientProvider client={queryClient}>
            <ListEquipe />
        </QueryClientProvider>
    )
    {% endtranspiling %}
</script>
