<nav class="navbar bg-light sticky-top">
    <div class="container-fluid">
        <a href="#menu" data-bs-toggle="offcanvas" class="nav-link me-3" aria-controls="menu"><i class="fa-solid fa-bars"></i></a>
        <a href="/" class="navbar-brand me-auto" aria-controls="home">
            <span class="fa-layers fa-fw">
                <i class="fa-solid fa-person-falling" data-fa-transform="shrink-2 down-2 left-2"></i>
                <i class="fa-solid fa-slash" data-fa-transform="rotate-20 right-2"></i>
            </span>
            pyInterClubs
        </a>
    </div>
</nav>
