{% extends request.htmx|yesno:"base.html,index.html" %}
{% load django_bootstrap5 %}
{% load widget_tweak %}

{% block body %}
    <ul class="list-group list-group-flush">
        <button class="list-group-item bg-light text-left" type="button" data-bs-toggle="collapse" data-bs-target="#bdyOptions{{ object.ID }}" aria-expanded="false" aria-controls="bdyOptions{{ object.ID }}">
            <i class="fa-solid fa-gear fa-fw me-2"></i>
            Paramètres
        </button>
        <li id="bdyOptions{{ object.ID }}" class="list-group-item collapse border-bottom">
            {% if request.interclub.is_enfants %}
                {% bootstrap_field form.IDVoie1 layout='horizontal' horizontal_label_class='col-3' horizontal_field_class='col-9' %}
            {% endif %}
            {% bootstrap_field form.ClubPreteur layout='horizontal' horizontal_label_class='col-3' horizontal_field_class='col-9' %}
            <div class="row align-items-center">
                <label class="col-3 col-form-label">Actions</label>
                <div class="col-9 btn-toolbar" role="toolbar">
                    <div class="btn-group me-3" role="group">
                        <button type="button" class="btn btn-primary"><i class="fa-solid fa-angle-up fa-fw me-2"></i>Monter</button>
                        <button type="button" class="btn btn-primary"><i class="fa-solid fa-angle-down fa-fw me-2"></i>Descendre</button>
                    </div>
                    <div class="btn-group mt-2 mt-md-0" role="group">
                        <button type="button" class="btn btn-danger col-12 col-md-3 mt-0"><i class="fa-solid fa-trash fa-fw me-2"></i>Supprimer</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h5>Difficulté</h5>
            {% if request.interclub.is_enfants %}
                {% include 'leader/p_field.html' with field=form.Voie1 Points=object.PtsVoie1 Valid=object.Voie1 %}
                {% include 'leader/p_field.html' with field=form.Voie2 Points=object.PtsVoie2 Valid=object.Voie2 %}
                {% include 'leader/p_field.html' with field=form.Voie3 Points=object.PtsVoie3 Valid=object.Voie3 %}
            {% else %}
                {% include 'leader/p_IDfield.html' with field=form.Voie1 IDfield=form.IDVoie1 Points=object.PtsVoie1 Valid=object.Voie1 %}
                {% include 'leader/p_IDfield.html' with field=form.Voie2 IDfield=form.IDVoie2 Points=object.PtsVoie2 Valid=object.Voie2 %}
                {% include 'leader/p_IDfield.html' with field=form.Voie3 IDfield=form.IDVoie3 Points=object.PtsVoie3 Valid=object.Voie3 %}
                {% include 'leader/p_IDfield.html' with field=form.Voie4 IDfield=form.IDVoie4 Points=object.PtsVoie4 Valid=object.Voie4 %}
            {% endif %}
        </li>
        <li class="list-group-item">
            <h5>Bloc</h5>
            {% include 'leader/p_field.html' with field=form.Bloc1 Points=object.PtsBloc1 Valid=object.Bloc1 %}
            {% include 'leader/p_field.html' with field=form.Bloc2 Points=object.PtsBloc2 Valid=object.Bloc2 %}
        </li>
        <li class="list-group-item">
            <h5>Vitesse</h5>
            <div class="row mb-3">
                {{ form.Vitesse.errors }}
                <label class="col-3 col-form-label" for="{{ form.Vitesse.id_for_label }}">
                    {{ form.Vitesse.label }}
                </label>
                <div class="col-9">
                    <div class="input-group">
                        {{ form.Vitesse|class:"form-control" }}
                        <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                            <span class="visually-hidden">Cas particuliers</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end vitesse">
                            <li><button class="dropdown-item" data-value="00:00:00.000000">
                                <i class="fa-regular fa-clock fa-fw me-2"></i>
                                hh:mm:ss.ffffff
                            </button></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><h6 class="dropdown-header">Cas particuliers</h6></li>
                            <li><button class="dropdown-item" data-value="Chute">
                                <span class="fa-layers fa-fw me-2">
                                    <i class="fa-solid fa-person-falling" data-fa-transform="shrink-2 down-2 left-2"></i>
                                    <i class="fa-solid fa-slash" data-fa-transform="rotate-52 right-5"></i>
                                </span>
                                Chute
                            </button></li>
                            <li><button type="button" class="dropdown-item" data-value="Abandon">
                                <span class="fa-layers fa-fw me-2">
                                    <i class="fa-solid fa-person-walking" data-fa-transform="flip-h shrink-2 left-2"></i>
                                    <i class="fa-solid fa-slash" data-fa-transform="rotate-52 shrink-2 right-5 up-4"></i>
                                </span>
                                Abandon
                            </button></li>
                        </ul>
                        <span class="input-group-text {% if object.Vitesse != None %}bg-success{% endif %}">
                            {{ object.PtsVitesse }}<span class="d-none d-sm-inline ms-1">pts</span>
                        </span>
                    </div>
                </div>
                {{ form.Vitesse.errors }}
                {% if form.Vitesse.help_text %}<div class="form-text">{{ form.Vitesse.help_text|safe }}</div>{% endif %}
            </div>
        </li>
    </ul>
    <div class="accordion-body">
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(".vitesse button").on('click', function (e) {
        $(this).closest("form").find("input[name='Vitesse']").val($(this).data("value"));
        e.preventDefault();
    });
</script>
{% endblock %}
