{% extends request.htmx|yesno:"base.html,index.html" %}
{% load django_bootstrap5 %}

{% block title %}Equipe {{ object }}{% endblock %}

{% block head %}
    <style>
        .sexe  { color: rgba(0,0,0,.3); }
        .femme { color: lightpink; }
        .homme { color: lightblue; }
    </style>
{% endblock %}

{% block body %}
    <div class="card" hx-target="this" hx-swap="outerHTML">
        <form action="{% url 'equipe:edit' object.ID %}" method="post" hx-post="{% url 'equipe:edit' object.ID %}" hx-trigger="change">
            {% csrf_token %}
            <div class="card-header">
                {% bootstrap_form form layout='horizontal' horizontal_label_class='col-3' horizontal_field_class='col-3' wrapper_class='' %}
            </div>
        </form>
        <div class="accordion accordion-flush" id="equipe">
            {% for score in object.Scores.in_order %}
            <div class="accordion-item">
                <h2 class="accordion-header placeholder-glow" id="hdg{{ score.ID }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bdy{{ score.ID }}" aria-expanded="false" aria-controls="bdy{{ score.ID }}">
                        {% include "leader/p_hdrScore.html" with object=score %}
                    </button>
                </h2>
                <div id="bdy{{ score.ID }}" class="accordion-collapse collapse collapsed" aria-labelledby="hdg{{ score.ID }}" data-bs-parent="#equipe">
                    <ul class="list-group list-group-flush" hx-get="{% url 'equipe:edit-score' object.ID score.ID %}" hx-trigger="load" hx-target="this" hx-replace-url="false">
                        <div class="w-100 bg-light placeholder" style="height:2.5rem;"></div>
                        <li class="list-group-item placeholder-glow">
                            <h5 class="placeholder col-1 my-3"></h5>
                            <div class="row">
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                            </div>
                        </li>
                        <li class="list-group-item placeholder-glow">
                            <h5 class="placeholder col-1 my-3"></h5>
                            <div class="row">
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                            </div>
                        </li>
                        <li class="list-group-item placeholder-glow">
                            <h5 class="placeholder col-1 my-3"></h5>
                            <div class="row">
                                <div class="col-3 mb-3"><span class="w-100 placeholder placeholder-lg"></span></div>
                                <div class="col-9 mb-3"><span class="w-100 placeholder placeholder-lg bg-light"></span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <div class="row g-2 justify-content-around">
                {% if object.Scores.count < 8 %}
                    <a class="btn btn-primary col-12 col-md-3" href="{% url 'equipe:add-score' object.ID %}" hx-boost="false"><i class="fa-solid fa-plus fa-fw me-2"></i>Ajouter un grimpeur</a>
                {% endif %}
                <a class="btn btn-danger col-12 col-md-3" href=""><i class="fa-solid fa-trash fa-fw me-2"></i>Supprimer l'équipe</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ form.media }}
{% endblock %}