{% extends request.htmx|yesno:"base.html,index.html" %}
{% load django_bootstrap5 %}

{% block title %}Liste des équipes{% endblock %}

{% block body %}
<div class="container">
    Rencontre: {{ rencontre }}<br />
    Catégorie: {{ categorie }}<br />
    Lieu: {{ request.interclub.rencontre.Club.Localisation }}<br />
    Grimpeurs: {{ request.interclub.scores.count }} / {{ request.interclub.grimpeurs.count }}
        (<span class="text-primary">{{ request.interclub.scores.hommes.count }} / {{ request.interclub.grimpeurs.hommes.count }}</span>)
        |
        (<span class="text-danger">{{ request.interclub.scores.femmes.count }} / {{ request.interclub.grimpeurs.femmes.count }}</span>)
        <br />
    Equipes: {{ request.interclub.equipes.count }}<br />
</div>
{% endblock %}

{% block script %}
{% endblock %}