{% extends "index.html" %}
{% load static django_bootstrap5 babel_transpiling %}

{% block title %}Equipe {{ object }}{% endblock %}

{% block head %}
    <script src="{% static '3rd/react-18.2.0-dist/react.development.js' %}" type="text/javascript"></script>
    <script src="{% static '3rd/react-18.2.0-dist/react-dom.development.js' %}" type="text/javascript"></script>
    <script type="module" src="{% static '3rd/react-bootstrap-2.9.1-dist/react-bootstrap.min.js' %}"></script>

    <style>
        .sexe  { color: rgba(0,0,0,.3); }
        .femme { color: lightpink; }
        .homme { color: lightblue; }
    </style>
{% endblock %}

{% block body %}
    <div id="react-equipe" />
{% endblock %}

{% block script %}
    {{ rencontre|json_script:"rencontre" }}
    <script type="text/javascript">
        var rencontre = JSON.parse($("#rencontre").text());
        var csrf = "{{ csrf_token }}";
    </script>
    <script type="module">
        import Equipe from "/react/equipe.jsx";
        {% transpiling %}
        ReactDOM.createRoot(document.querySelector('#react-equipe')).render(
            <Equipe source="/api/equipes/{{ object.id }}/" />
        )
        {% endtranspiling %}
    </script>
{% endblock %}