{% extends "index.html" %}
{% load babel_transpiling %}

{% block title %}Mes grimpeurs{% endblock %}

{% block nav-items %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ request.path }}">
            <i class="d-md-none fa-solid fa-users fa-fw me-2"></i>Mes grimpeurs
        </a>
    </li>
{% endblock %}

{% block head %}
    <style>
        .sexe  { color: rgba(0,0,0,.3); }
        .femme { color: lightpink; }
        .homme { color: lightblue; }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header p-3">
                <i class="fa-solid fa-users me-2"></i>Mes grimpeurs - {{ user.first_name|default:user.username }}
            </div>
            <div id="react-list-grimpeurs-index"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="module">
        import App from "/react/app.jsx";
        import { ListScore } from "/react/score.jsx";
        {% transpiling %}
        ReactDOM.createRoot(document.querySelector('#react-list-grimpeurs-index')).render(
            <App csrf={ "{{ csrf_token }}" }>
                <ListScore {% if user.profil.club %}club={ {{ user.profil.club.id }} }{% endif %} />
            </App>
        )
        {% endtranspiling %}
    </script>
{% endblock %}
