{% with widget.value.instance as r %}
<div class="row mx-0 p-1 border border-start-0 border-end-0 border-bottom-0 bg-light-hover">
    <div class="col-1">{% include "django/forms/widgets/input.html" %}</div>
    <div class="col-1">
        {% if r.categorie == 1 %}<i class="fa-solid fa-child fa-sm" title="Enfants"></i>
        {% elif r.categorie == 2 %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-person" title="Adolescents"></i>
        {% endif %}
    </div>
    <div class="col-3">{{ r.date }}</div>
    <div class="col-2">{{ r.club.ville }}</div>
    <div class="col">{{ r.nb_equipes }}</div>
    <div class="col">{{ r.nb_grimpeurs }}</div>
    <div class="col-2 d-flex">
        <a href="{% url 'rencontre:resultats' %}" class="btn btn-link btn-sm py-0">
            <i class="fa-solid fa-eye"></i>
        </a>
        {% if r.nb_users %}
            <a href="{% url 'rencontre:stop' r.id %}" class="btn btn-link btn-sm py-0">
                <i class="fa-solid fa-stop"></i>
            </a>
            <a href="{% url 'rencontre:qrcode-clubs' %}?rencontre={{ r.id }}" class="btn btn-link btn-sm py-0">
                <i class="fa-solid fa-qrcode"></i>
            </a>
        {% else %}
            <a href="{% url 'rencontre:start' r.id %}" class="btn btn-link btn-sm py-0">
                <i class="fa-solid fa-play"></i>
            </a>
        {% endif %}
        <div class="dropdown">
            <button class="btn btn-link btn-sm py-0 link-underline-opacity-0" {% if not r.valide %}disabled{% endif %} type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-file-export" data-fa-transform="up-4"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'rencontre:report' r.id 'stats' %}" class="dropdown-item" target="_blank">
                        <i class="fa-regular fa-file-pdf me-2"></i> Statistiques d'utilisation
                    </a>
                </li>
                <li>
                    <a href="{% url 'rencontre:report' r.id 'teams' %}" class="dropdown-item" target="_blank">
                        <i class="fa-regular fa-file-pdf me-2"></i> Feuille d'équipes
                    </a>
                </li>
                <li>
                    <a href="{% url 'rencontre:report' r.id 'ranking' %}" class="dropdown-item" target="_blank">
                        <i class="fa-regular fa-file-pdf me-2"></i> Classement individuel
                    </a>
                </li>
                <li>
                    <a href="{% url 'rencontre:report-multi' 'registration' %}?date={{ r.date|date:"Y-m-d" }}" class="dropdown-item" target="_blank">
                        <i class="fa-regular fa-file-pdf me-2"></i> Liste des participants (pour la journée)
                    </a>
                </li>
            </ul>
        </div>
        <a href="{% url 'rencontre:delete' r.id %}" class="btn btn-link text-danger btn-sm py-0 ms-auto">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
</div>
{% endwith %}