{% extends request.htmx|yesno:"base.html,index.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block head %}
    <script src="{% static '3rd/qrcode-2015.11.25-dist/qrcode.min.js' %}"></script>
{% endblock %}
{% block title %}QRCode des clubs{% endblock %}

{% block body %}
<div class="container">
    {{ request.environ.SERVER_PORT }}
    <div class="accordion" id="qrcodes">
        <div class="accordion-item">
            <h2 class="accordion-header" id="hdrWifi">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bdyWifi" aria-expanded="true" aria-controls="bdyWifi">
                    Codes Wifi
                </button>
            </h2>
            <div id="bdyWifi" class="accordion-collapse collapse show" aria-labelledby="hdrWifi" data-bs-parent="#qrcodes">
                <div class="accordion-body">
                    Codes Wifi...
                </div>
            </div>
        </div>
        {% for o in object_list %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="hdr{{ o.ID }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bdy{{ o.ID }}" aria-expanded="true" aria-controls="bdy{{ o.ID }}">
                    {{ o.Nom }} ({{ o.Localisation }})
                </button>
            </h2>
            <div id="bdy{{ o.ID }}" class="accordion-collapse collapse" aria-labelledby="hdr{{ o.ID }}" data-bs-parent="#qrcodes">
                <div class="accordion-body row row-cols-1 row-cols-md-2">
                    <div class="col text-center">
                        <div id="qrcode{{ o.ID }}"></div>
                    </div>
                    <div class="col">
                        <div class="vstack gap-1">
                            <span>Nom : {{ o.Nom }}</span>
                            <span>Ville : {{ o.Localisation }}</span>
                            <span>Nombre de grimpeurs : {{ o.Grimpeurs.count }}</span>
                            <span>MD5 : {{ o.md5 }}</span>
                            <form method="post" action="{% url 'auth-club' %}">
                                {% csrf_token %}
                                <input type="hidden" name="token" value="{{ o.md5 }}" />
                                <div class="col s12 input-field">
                                    <button class="btn btn-primary" type="submit" , name="action">Se connecter <i class="fa-solid fa-id-card ms-1"></i></button>
                                </div>
                                <input type="hidden" name="next" value="/">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    {% for o in object_list %}
        new QRCode(document.getElementById("qrcode{{ o.ID }}"), "http://192.168.1.22:{{ request.environ.SERVER_PORT }}{% url 'auth-club' %}?token={{ o.md5 }}");
    {% endfor %}
</script>
{% endblock %}