{% extends "index.html" %}
{% load django_bootstrap5 %}

{% block title %}Liste des rencontres{% endblock %}

{% block head %}
<style>
    .row.bg-light-hover:hover {
        background: rgba(0, 0, 0, 0.075);
        color: var(--bs-body-color);
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <form action="{% url 'rencontres' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary shadow rounded-circle position-fixed end-0 me-5"><i class="fa-solid fa-plus" data-fa-transform="up-1" title="Ajouter une rencontre"></i></button>

        {{ form.rencontre }}

        <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-1"></i>Sélectionner la manche</button>
    </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}