{% extends "index.html" %}
{% load static django_bootstrap5 babel_transpiling %}

{% block title %}Résultats de la rencontre{% endblock %}

{% block head %}
    <style>
        .sexe  { color: rgba(0,0,0,.3); }
        .femme { color: lightpink; }
        .homme { color: lightblue; }

        .svg-inline--fa.gold,   i.gold   { color: #FFD700; } /* gold */
        .svg-inline--fa.silver, i.silver { color: #C0C0C0; } /* silver */
        .svg-inline--fa.bronze, i.bronze { color: #B8860B; } /* darkgoldenrod */

        i.gold   { background-color: #FFD70020; }
        i.silver { background-color: #C0C0C020; }
        i.bronze { background-color: #B8860B20; }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div id="ranking-list" />
</div>
{% endblock %}

{% block script %}
    <script type="module">
        import Ranking from "/react/ranking.jsx";
        const { QueryClient, QueryClientProvider } = window.ReactQuery;
        const queryClient = new QueryClient();
        {% transpiling %}
        ReactDOM.createRoot(document.querySelector('#ranking-list')).render(
            <QueryClientProvider client={queryClient}>
                <Ranking />
            </QueryClientProvider>
        )
        {% endtranspiling %}
    </script>
{% endblock %}