{% extends "index.html" %}
{% load static django_bootstrap5 babel_transpiling %}

{% block title %}Résultats de la rencontre{% endblock %}

{% block nav-items %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ request.path }}">
            <i class="d-md-none fa-solid fa-ranking-star fa-fw me-2"></i>Résultats
        </a>
    </li>
{% endblock %}

{% block body %}
<div class="container">
    <div id="ranking-list" />
</div>
{% endblock %}

{% block script %}
    <script type="module">
        import App from "/react/app.jsx";
        import Ranking from "/react/ranking.jsx";
        {% transpiling %}
        ReactDOM.createRoot(document.querySelector('#ranking-list')).render(
            <App csrf={ "{{ csrf_token }}" }>
                <Ranking />
            </App>
        )
        {% endtranspiling %}
    </script>
{% endblock %}