{% load widget_tweak %}
<form action="{{ request.path }}" method="post" hx-target="this" hx-trigger="change, sse:/score/{{ object.ID }}/{{ field_type }}" hx-swap="outerHTML" hx-replace-url="false">
    {% csrf_token %}
    <div class="row mb-3">
        <label class="col-3 col-form-label" for="{{ label.id_for_label }}">
            {{ label.label }}
        </label>
        <div class="col-9">
            <div class="input-group">
                {% for field in form %}
                    {% if field_type == 'groupe' or field.name|slice:":2" != "ID" or request.interclub.is_adolescents %}{{ field|widget_class }}{% endif %}
                {% endfor %}
                {% if field_type == 'vitesse' %}
                <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                    <span class="visually-hidden">Cas particuliers</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end vitesse">
                    <li>
                        <button class="dropdown-item" data-value="00:00:00.000000">
                            <i class="fa-regular fa-clock fa-fw me-2"></i>
                            hh:mm:ss.ffffff
                        </button>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><h6 class="dropdown-header">Cas particuliers</h6></li>
                    <li>
                        <button class="dropdown-item" data-value="Chute">
                            <span class="fa-layers fa-fw me-2">
                                <i class="fa-solid fa-person-falling" data-fa-transform="shrink-2 down-2 left-2"></i>
                                <i class="fa-solid fa-slash" data-fa-transform="rotate-52 right-5"></i>
                            </span>
                            Chute
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" data-value="Abandon">
                            <span class="fa-layers fa-fw me-2">
                                <i class="fa-solid fa-person-walking" data-fa-transform="flip-h shrink-2 left-2"></i>
                                <i class="fa-solid fa-slash" data-fa-transform="rotate-52 shrink-2 right-5 up-4"></i>
                            </span>
                            Abandon
                        </button>
                    </li>
                </ul>
                {% endif %}
                {% if points is not None %}
                    <span class="input-group-text {% if valid %}bg-success{% endif %}">
                        {{ points }}<span class="d-none d-sm-inline ms-1">pts</span>
                    </span>
                {% endif %}
            </div>
        </div>
        {{ form.non_field_errors }}
        {% for field in form %}{{ field.errors }}{% endfor %}
        {% for field in form %}{% if field.help_text %}<div class="form-text">{{ field.help_text|safe }}</div>{% endif %}{% endfor %}
    </div>
</form>
